<!--
  #%L
  LA-iMageS
  %%
  Copyright (C) 2016 Marco Aurélio Zezzi Arruda, Gustavo de Souza
  			Pessôa, José Luis Capelo Martínez, Florentino Fdez-Riverola, Miguel
  			Reboiro-Jato, Hugo López-Fdez, and Daniel Glez-Peña
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<plugin start="true">
	<uid>icp-ms-aibench</uid>
	<name>icp-ms-aibench</name>
	<version>1.0-SNAPSHOT</version>
	
	<lifecycleclass>es.uvigo.ei.sing.icpms.gui.aibench.Lifecycle</lifecycleclass>

	<dependencies>
		<dependency uid="aibench.workbench"/>
		<dependency uid="aibench.core"/>
	</dependencies>

	<extensions>
		<!-- Operations -->
		<extension uid="aibench.core" name="aibench.core.operation-definition" class="es.uvigo.ei.sing.icpms.gui.aibench.operations.LoadDatasetOperation">
			<operation-description name="Analyze Data" path="1@File/" uid="icpms.loaddatasetoperation" shortcut="1" help="laimages.loaddata.analyze"/>
		</extension>
		<extension uid="aibench.core" name="aibench.core.operation-definition" class="es.uvigo.ei.sing.icpms.gui.aibench.operations.LoadAnalysisOperation">
			<operation-description name="Load Analysis" path="2@File/" uid="icpms.loadanalysisoperation" shortcut="2" help="laimages.loaddata.loadanalysis"/>
		</extension>

		<!-- Views -->
		<extension uid="aibench.workbench" name="aibench.workbench.view" >
			<view name="Analysis viewer" datatype="es.uvigo.ei.sing.icpms.gui.aibench.datatypes.AiBenchLaImagesAnalysis" class="es.uvigo.ei.sing.icpms.core.gui.views.LaImagesAnalysisViewer"/>
		</extension>
		
		<!-- Icons -->
		<extension uid="aibench.workbench" name="aibench.workbench.view" >
		 	<icon-operation operation="icpms.loaddatasetoperation" icon="icons/loaddataset.png"/>
			<big-icon-operation operation="icpms.loaddatasetoperation" icon="icons/loaddataset.png"/>
		 	<icon-operation operation="icpms.loadanalysisoperation" icon="icons/loadanalysis.png"/>
			<big-icon-operation operation="icpms.loadanalysisoperation" icon="icons/loadanalysis.png"/>
			<icon-datatype datatype="es.uvigo.ei.sing.icpms.gui.aibench.datatypes.AiBenchLaImagesAnalysis" icon="icons/dataset.png"/>
		</extension>
		
		<!-- Dialogs -->
		<extension uid="aibench.workbench" name="aibench.workbench.view" >
		    <gui-operation  operation="icpms.loaddatasetoperation" class="es.uvigo.ei.sing.icpms.gui.aibench.dialogs.LoadDatasetOperationDialog"/>
		</extension>
	</extensions>
</plugin>
